{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="hero">
    <div class="hero-content">

        <h1>ZEYRA COUTURE</h1>

        <p>Timeless Elegance Curated Just For You</p>

        <a href="/products" class="shop-btn">
            Shop Collection
        </a>

    </div>

</div>


<div class="features">

    <div class="feature-card">

        <h2>🚚</h2>

        <h3>Fast Delivery</h3>

        <p>Quick delivery across India.</p>

    </div>

    <div class="feature-card">

        <h2>💖</h2>

        <h3>Premium Quality</h3>

        <p>No Return|No Exchange</p>

    </div>

    <div class="feature-card">

        <h2>✨</h2>

        <h3>Latest Collections</h3>

        <p>Trendy styles for every occasion.</p>

    </div>

</div>

{% endblock %}