{% extends "base.html" %}

{% block title %}
Order Submitted
{% endblock %}

{% block content %}

<div class="success-box">

    <h1>🎉 Thank You!</h1>

    <h2>Your Order Request Has Been Received</h2>

    <br>

    <p>
        We have received your order request successfully.
    </p>

    <p>
        Our team will verify product availability and contact you
        on your registered phone number with payment instructions.
    </p>

    <br>

    <h3>Status</h3>

    <p><b>Order Received</b></p>

    <br>
    <p><b>No Return | No Exchange</b></p>
    <br>
    <a href="/">
        <button>Continue Shopping</button>
    </a>
</div>
{% endblock %}